//*********************************************************************//
//                         404 page not found                          //
//*********************************************************************//

$phone_landscape-max: 47.99em;  //767px
$pad_portrait-min: 48em;  //768px
$primary1: #31b5bd;
$light1: rgba(255,255,255,1);

body{
	background: #eee;
}

.not_found {
	text-align: center;
	h1 {
		line-height: 1.2em;
		font-size: 5em;}
	.img {
		background: url(/template/images/not_found.png) no-repeat center center;
		background-size: contain;}
	a {
		display: block;
		width: 12.5em;
		height: 3em;
		line-height: 3em;
		margin: 0 auto;
		background: $primary1;
		border-radius: 0.2em;
		color: $light1;}
}
// phone
@media only screen and (max-width: $phone_landscape-max){
	.not_found {
		padding: 4em 0;
		h1 { font-size: 3.5em;}
		.img {
			height: 8em;
			margin: 3em auto;}
	}
}
// pad and pc
@media only screen and (min-width: $pad_portrait-min){
	.not_found {
		padding: 6em 0;
		h1 { font-size: 5em;}
		p { font-size: 1.2em;}
		.img {
			height: 9em;
			margin: 4em auto;}
	}
}