/* style*/
/* value settings*/
$dark1 : rgba(0, 0, 0, .87);
$dark2 : rgba(0, 0, 0, .54);
$light1 : rgba(255, 255, 255, 1);
$primary1 : #31b5bd;
$shadow1 : 0 1px 4px rgba(0, 0, 0, .35);
$easing : cubic-bezier(.15, .95, .41, .95);
@mixin box-sizing($value) {
    -webkit-box-sizing : $value;
            box-sizing : $value;
}

@mixin aColor($value) {
    color : $value;
    &:active {
        color : $value;
    }
    &:visited {
        color : $value;
    }
    &:hover {
        color : lighten($value, 15%);
    }
}

@mixin transform($value) {
    -webkit-transform : $value;
        -ms-transform : $value;
            transform : $value;
}

@mixin transform-origin($value) {
    -webkit-transform-origin : $value;
        -ms-transform-origin : $value;
            transform-origin : $value;
}

@mixin transition($value) {
    -webkit-transition : $value;
            transition : $value;
}

@mixin transition-transform($value1, $value2) {
    -webkit-transition : -webkit-transform $value1 $value2;
            transition : -webkit-transform $value1 $value2;
            transition :         transform $value1 $value2;
            transition :         transform $value1 $value2, -webkit-transform $value1 $value2;
}


@mixin animation($value) {
    -webkit-animation : $value;
            animation : $value;
}



@mixin order($value) {
    -webkit-box-ordinal-group : NaN;
    -ms-flex-order : $value;
    -webkit-order : $value;
            order : $value;
}


@mixin aColor($value) {
    color : $value;
    &:active {
        color : $value;
    }
    &:visited {
        color : $value;
    }
    &:hover {
        color : lighten($value, 15%);
    }
}

* {
    @include box-sizing(content-box);
}

html ,
body {
    min-height : 100vh;
}

body {
    font-family : -apple-system, Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
    font-size : 1em;
    line-height : 1.6;

    color : rgba(0, 0, 0, .87);
    background : #f5f5f5;
}

a {
    @include aColor($primary1);
}

input ,
textarea ,
button {
    font-family : -apple-system, Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
}

::-moz-selection {
    color : $light1;
    background : $primary1;
}

::selection {
    color : $light1;
    background : $primary1;
}

::-moz-selection {
    color : $light1;
    background : $primary1;
}

/* nav*/
.index_header {
    position : relative;

    height : 100vh;
    margin-top : -60px;

    background-image : url("/bg.jpg");
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-position : center center;
    background-size : cover;

    .index_header_container {
        position : absolute;
        z-index : 555;
        top : 35%;
        left : 0;

        clear : both;

        width : 100%;
        padding : 3em 0 0;

        text-align : center;

        color : #fff;
        background-size : 405px 53px;

        @include animation (fadein_up .5s $easing .3s both);

        .sub_title {
            font-size : 1.3em;
            line-height : 1.7;

            letter-spacing : 1px;
        }

        .socials {
            margin-top : 30px;

            @include animation (fadein_up .5s $easing .8s both);

            a {
                margin : 0 5px;

                text-decoration : none;

                color : rgba(255, 255, 255, .54);
                &:hover {
                    color : #fff;
                }
            }
        }
    }
}


.header {
    position : relative;
    z-index : 9;

    display : block;

    height : 60px;

    background : #333;
    &:after {
        display : table;
        clear : both;

        content : "";
    }

    @at-root .left_side {
        float : left;
        & > * {
            float : left;
        }
    }
    @at-root .right_side {
        float : right;
        .bitcron_nav_container {
            float : left;
            &:after {
                display : table;
                clear : both;

                content : "";
            }
        }
    }

    @at-root .site_title {
        line-height : 3.75em;

        height : 3.75em;
        a {
            font-size : 1.5em;

            padding : 0 1.5em;

            @include aColor($light1);
        }
    }

    .clear_nav_end {
        display : none;
    }


    .bitcron_nav {
        float : left;
        .site_nav {
            li {
                line-height : 3.75em;

                display : inline-block;

                height : 3.75em;
                ul {
                    display : none;
                }
                a {
                    font-size : .875em;

                    position : relative;
                    z-index : 5;

                    display : inline-block;

                    padding : 0 .75em;

                    color : $light1;
                    &:after {
                        position : absolute;
                        z-index : -1;
                        top : 20%;
                        left : 0;

                        display : block;

                        width : 100%;
                        height : 60%;

                        content : "";

                        border-radius : .2em;
                        background : $primary1;
                        -webkit-box-shadow : $shadow1;
                                box-shadow : $shadow1;

                        @include transform(scale(0, 1));
                        @include transform-origin(50% 0%);
                        @include transition-transform(.3s, $easing);
                    }
                    &:hover {
                        color : #fff;
                    }
                    &:hover:after {
                        @include transform(scale(1, 1));
                    }
                }
            }
        }
    }

    .search {
        position : relative;

        float : left;

        height : 1.875em;
        margin : .94em 1em 0;

        border-radius : 1.875em;
        background : #fff;
        .icon-icon_search {
            line-height : 3.5em;

            display : inline-block;

            width : 3.5em;
            height : 3.5em;

            cursor : pointer;
            text-align : center;

            color : $light1;
            &:before {
                font-size : 2em;
            }
        }
        .icon-search {
            line-height : 1.875em;

            float : right;

            width : 2em;
            height : 1.875em;

            color : $dark1;
            &:before {
                font-size : 1.5em;
            }
        }
        input {
            display : block;
            float : left;

            width : 3.75em;
            height : 100%;
            margin : 0;
            padding : 0;

            text-indent : 1em;

            color : $dark2;
            border : none;
            background : transparent;

            @include transition(width .3s $easing);
            &:focus {
                width : 12em;

                color : $dark1;
                outline : 0;
            }
        }
    }
}

.header_for_index {
    background : none;
}


.footer {
    padding : 2em 0;
    p {
        font-size : .75em;
        line-height : 2em;

        text-align : center;

        color : $dark2;
        a {
            color : $dark2;
            &:hover {
                color : $primary1;
            }
        }
        i {
            padding : 0 .3em;
        }
    }
}








@media screen and (max-width: 48em) {
    .header .right_side .search {
        display : none;
    }

    .header .site_title a {
        padding : 0 .5em;
    }
}


@-webkit-keyframes fadein_up {
    0% {
        -webkit-transform : translate(0, 2em);

        opacity : 0;
    }
    100% {
        -webkit-transform : translate(0, 0);

        opacity : 1;
    }
}
@keyframes fadein_up {
    0% {
        -webkit-transform : translate(0, 2em);
                transform : translate(0, 2em);

        opacity : 0;
    }
    100% {
        -webkit-transform : translate(0, 0);
                transform : translate(0, 0);

        opacity : 1;
    }
}





@-webkit-keyframes zoomin {
    0% {
        -webkit-transform : scale(0);
    }
    100% {
        -webkit-transform : scale(1);
    }
}
@keyframes zoomin {
    0% {
        -webkit-transform : scale(0);
                transform : scale(0);
    }
    100% {
        -webkit-transform : scale(1);
                transform : scale(1);
    }
}


/* post*/
.posts {
    padding : 1.875em;

    .post_container {
        padding : 2.5em;
    }

    .post_in_list {
        line-height : 2.5;

        .info {
            margin-top : 2em;
        }
    }

    @at-root {
        .post {
            margin : 0 0 1.875em;

            border-radius : .2em;
            background : #fff;
            -webkit-box-shadow : 0 .1em .35em rgba(0, 0, 0, .26);
                    box-shadow : 0 .1em .35em rgba(0, 0, 0, .26);

            .content {
                padding : 2.5em;
            }

            .title {
                font-size : 1.875em;

                margin : 0 0 1em;
            }



            @at-root .post-info {
                font-size : .75em;

                cursor : default;

                color : #666;

                .icon {
                    /* display: inline;*/
                    line-height : 28px;

                    float : left;

                    margin : 0 .25em 0 0;
                }

                .date {
                    float : left;

                    margin : 0 1.5em 0 0;

                    span.time {
                        line-height : 28px;

                        float : left;
                    }
                }

                .visitors {
                    float : left;

                    margin : 0 1.5em 0 0;


                    span {
                        line-height : 28px;

                        float : left;
                    }
                }

                .post-tags {
                    line-height : 28px;

                    float : left;

                    a {
                        margin : 0 .5em 0 0;
                    }
                }
                .tags {
                    float : left;

                    max-width : calc(100% - 20px);
                }
            }
        }
    }
}
$primary1 : #31b5bd;
$accent1 : #df8a7f;
$accent2 : #f5c5bf;
$accent3 : #3c3d60;
@mixin colored_grid_css {
    #main {
        padding : 0;
    }

    .posts {
        padding : 0;

        .post_container {
            padding : 0;
        }

        @at-root .post {
            margin : 0;

            border-radius : 0;

            .title {
                line-height : 1.2;

                margin : 0;
                padding : 60px 12px 5px;

                a {
                    font-size : 18px;

                    color : #fff;
                }
            }

            .post_body {
                display : none;
            }

            @at-root .post-info {
                padding : 0 15px 20px;

                color : #f4f4f4;
            }
        }

        .grid_1 .post {
            background : rgba(mix($primary1,#000,.7),.85);
        }

        .grid_2 .post {
            background : rgba(mix($accent1,#000,.6),.85);
        }

        .grid_3 .post {
            background : rgba(mix($accent3,#000,.9),.85);
        }
    }
}

.detail_post {
    max-width : 960px;
    margin : 0 auto;

    .post {
        border-radius : .2em;
        background : #fff;
        -webkit-box-shadow : 0 .1em .35em rgba(0,0,0,.26);
                box-shadow : 0 .1em .35em rgba(0,0,0,.26);

        .post_container {
            padding : 2.5em;
        }

        .title {
            font-size : 1.875em;

            margin : 0 0 1em;
            padding : 0 0 1em;

            border-bottom : 1px solid rgba(0,0,0,.12);
        }
    }

    .post_body {
        h1 ,
        h2 ,
        h3 ,
        h4 ,
        h5 ,
        h6 {
            font-weight : bold;
            line-height : 1.2;

            margin : 1.5em 0;
        }

        h2 {
            padding : 0 0 0 .5em;

            border-left : .2em solid #83cace;
        }

        iframe ,
        p ,
        pre {
            line-height : 1.6;

            margin : 0 0 1.5em;
        }

        h1 ,
        h2 ,
        h3 ,
        h4 ,
        h5 ,
        h6 {
            letter-spacing : -.02em;
        }

        h1 {
            font-size : 2.2em;
        }

        h2 {
            font-size : 1.8em;
        }

        h3 {
            font-size : 1.5em;
        }

        h4 {
            font-size : 1.2em;
        }

        h5 {
            font-size : 1em;
        }

        h6 {
            font-size : .8em;
        }
    }

    hr.post_body_end {
        margin : 3em 0 1em;

        border : none;
        border-bottom : 1px solid #efefef;
    }
}
@media screen and (max-width: 48em) {
    @include colored_grid_css;

    .footer {
        display : none;
    }

    .detail_post .post .post_container {
        padding : 1em 10px;
    }
}
@media screen and (min-width: 48em) and (max-width: 64em) {
    @include colored_grid_css;

    .grid_1 {
        width : 100%;
    }
}

.related_posts {
    width : 100%;

    .action {
        font-size : 1.2em;

        display : block;

        width : 50%;
        height : 2em;

        text-align : center;

        color : #333;

        &:hover {
            color : #31b5bd;
        }

        .arrow {
            line-height : 40px;

            width : 1.5em;
            height : 2em;
        }
    }

    .pre {
        float : left;

        .arrow {
            float : left;
        }

        span {
            font-size : 1.2em;
            line-height : 40px;

            float : left;
        }
    }

    .next {
        float : right;

        .arrow {
            float : right;
        }

        span {
            font-size : 1.2em;
            line-height : 40px;

            float : right;
        }
    }
}
