.posts {
    padding : 1.875em;

    .post_container {
        padding : 2.5em;
    }

    .post_in_list {
        line-height : 2.5;

        .info {
            margin-top : 2em;
        }
    }

    @at-root {
        .post {
            margin : 0 0 1.875em;

            border-radius : .2em;
            background : #fff;
            -webkit-box-shadow : 0 .1em .35em rgba(0, 0, 0, .26);
                    box-shadow : 0 .1em .35em rgba(0, 0, 0, .26);

            .content {
                padding : 2.5em;
            }

            .title {
                font-size : 1.875em;

                margin : 0 0 1em;
            }



            @at-root .post-info {
                font-size : .75em;

                cursor : default;

                color : #666;

                .icon {
                    /* display: inline;*/
                    line-height : 28px;

                    float : left;

                    margin : 0 .25em 0 0;
                }

                .date {
                    float : left;

                    margin : 0 1.5em 0 0;

                    span.time {
                        line-height : 28px;

                        float : left;
                    }
                }

                .visitors {
                    float : left;

                    margin : 0 1.5em 0 0;


                    span {
                        line-height : 28px;

                        float : left;
                    }
                }

                .post-tags {
                    line-height : 28px;

                    float : left;

                    a {
                        margin : 0 .5em 0 0;
                    }
                }
                .tags {
                    float : left;

                    max-width : calc(100% - 20px);
                }
            }
        }
    }
}
$primary1 : #31b5bd;
$accent1 : #df8a7f;
$accent2 : #f5c5bf;
$accent3 : #3c3d60;
@mixin colored_grid_css {
    #main {
        padding : 0;
    }

    .posts {
        padding : 0;

        .post_container {
            padding : 0;
        }

        @at-root .post {
            margin : 0;

            border-radius : 0;

            .title {
                line-height : 1.2;

                margin : 0;
                padding : 60px 12px 5px;

                a {
                    font-size : 18px;

                    color : #fff;
                }
            }

            .post_body {
                display : none;
            }

            @at-root .post-info {
                padding : 0 15px 20px;

                color : #f4f4f4;
            }
        }

        .grid_1 .post {
            background : rgba(mix($primary1,#000,.7),.85);
        }

        .grid_2 .post {
            background : rgba(mix($accent1,#000,.6),.85);
        }

        .grid_3 .post {
            background : rgba(mix($accent3,#000,.9),.85);
        }
    }
}

.detail_post {
    max-width : 960px;
    margin : 0 auto;

    .post {
        border-radius : .2em;
        background : #fff;
        -webkit-box-shadow : 0 .1em .35em rgba(0,0,0,.26);
                box-shadow : 0 .1em .35em rgba(0,0,0,.26);

        .post_container {
            padding : 2.5em;
        }

        .title {
            font-size : 1.875em;

            margin : 0 0 1em;
            padding : 0 0 1em;

            border-bottom : 1px solid rgba(0,0,0,.12);
        }
    }

    .post_body {
        h1 ,
        h2 ,
        h3 ,
        h4 ,
        h5 ,
        h6 {
            font-weight : bold;
            line-height : 1.2;

            margin : 1.5em 0;
        }

        h2 {
            padding : 0 0 0 .5em;

            border-left : .2em solid #83cace;
        }

        iframe ,
        p ,
        pre {
            line-height : 1.6;

            margin : 0 0 1.5em;
        }

        h1 ,
        h2 ,
        h3 ,
        h4 ,
        h5 ,
        h6 {
            letter-spacing : -.02em;
        }

        h1 {
            font-size : 2.2em;
        }

        h2 {
            font-size : 1.8em;
        }

        h3 {
            font-size : 1.5em;
        }

        h4 {
            font-size : 1.2em;
        }

        h5 {
            font-size : 1em;
        }

        h6 {
            font-size : .8em;
        }
    }

    hr.post_body_end {
        margin : 3em 0 1em;

        border : none;
        border-bottom : 1px solid #efefef;
    }
}
@media screen and (max-width: 48em) {
    @include colored_grid_css;

    .footer {
        display : none;
    }

    .detail_post .post .post_container {
        padding : 1em 10px;
    }
}
@media screen and (min-width: 48em) and (max-width: 64em) {
    @include colored_grid_css;

    .grid_1 {
        width : 100%;
    }
}

.related_posts {
    width : 100%;

    .action {
        font-size : 1.2em;

        display : block;

        width : 50%;
        height : 2em;

        text-align : center;

        color : #333;

        &:hover {
            color : #31b5bd;
        }

        .arrow {
            line-height : 40px;

            width : 1.5em;
            height : 2em;
        }
    }

    .pre {
        float : left;

        .arrow {
            float : left;
        }

        span {
            font-size : 1.2em;
            line-height : 40px;

            float : left;
        }
    }

    .next {
        float : right;

        .arrow {
            float : right;
        }

        span {
            font-size : 1.2em;
            line-height : 40px;

            float : right;
        }
    }
}
