//- 基本页面，所有的页面都按此结构渲染，公用部分相同，可变部分各页面自己控制

html
    head
        +response.set_header('X-Frame-Options','deny')
        +h.mobile_metas()

        block title
            title= post.title or site.title

        block seo
            +h.seo()
        +h.load('//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css')
        +h.load('/template/style/style.css')

        block head
    body
        #page-bg
        block header
            include widget/header

        main#main.container-fluid
            block content

        block footer
            include widget/footer

        //- +h.load("jquery")
        //- +h.load("//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
        +h.load("/template/js/base.js")

        //- +h.back_to_top(label='<span class="icon icon-circle-arrow-up"></span>')

        block script