extends base.jade

block title
    title= site.title if not request.path.strip("/") else request.offset_path1

block content
    //- 分页为6
    +posts.set_min_per_page(9)
    //- .posts: .posts_container: .pure-g
    .posts.container
        //- 搜索页
        if posts.keywords != ""
            h2.search-keyword= "搜索关键字【" + posts.keywords +  "】 ，共搜索到" + d.get_data(types="post", keywords=request.args.s, return_count=true, with_page=false) + "篇文章" 
        //- 分类日志页
        if request.offset_path1 != ""
            h2.category-type= request.offset_path1

        include widget/postList
