extends base.jade

block title
	title= site.title if not request.path.strip("/") else request.offset_path1

block head
    //- +h.load('markdown')

block content    
    //- span= request.get_offset_path(1)
    //- span= request.path
    if request.get_offset_path(1) == ''
        ul: for tag_name, tag_count in site.tags
            li
                a(href="/tag/{{tag_name}}")
                    span= tag_name
                    span= tag_count        
    else
        for post in posts
            a(href="{{post.url}}")
                h2= post.title
                //- span= post.url
            
