@mixin animation ($value) {
    -webkit-animation : $value;
            animation : $value;
}
@mixin display-flex () {
    display : -webkit-box;
    display : flex;
}

@mixin flex-flow ($value) {
    flex-flow : $value;
}
@mixin order ($value) {
    -webkit-box-ordinal-group : $value;
    order : $value;
}
@mixin flex ($value) {
    -webkit-box-flex : $value;
    flex : $value;
}

@mixin transform ($value) {
    -webkit-transform : $value;
            transform : $value;
}
@mixin transform-origin ($value) {
    -webkit-transform-origin : $value;
            transform-origin : $value;
}
@mixin transition ($value) {
    -webkit-transition : $value;
            transition : $value;
}
@mixin transition-transform ($value1,$value2) {
    -webkit-transition : -webkit-transform $value1 $value2;
            transition : -webkit-transform $value1 $value2;
            transition :         transform $value1 $value2;
            transition :         transform $value1 $value2, -webkit-transform $value1 $value2;
}


$easing1 : cubic-bezier(.15, .95, .41, .95);


#categories .cat_list {
    padding : 0 0 3em;

    @include display-flex();
    @include flex-flow (row wrap);

    .category {
        padding : 2.8em 0 0;

        @include flex (1 20em);

        .pic {
            display : block;
            overflow : hidden;

            height : 10em;
            margin : 0 .9em;

            span {
                display : block;

                width : 100%;
                height : 100%;

                opacity : 0;
                border-radius : .2em;
                background-repeat : no-repeat;
                background-position : center center;
                background-size : cover;

                @include transition-transform (1s, $easing1);
                @include transform-origin (50% 50%);
                @include transform (scale(1));
                &:hover {
                    @include transform (scale(1.05));
                }
            }
        }

        h2 {
            margin : 1.5em .9em .5em;
            a {
                font-size : 1.2em;
            }
        }
        p {
            font-size : .85em;

            margin : 0 1.1em;
        }
        .pic span {
            @include animation (fadein 1.2s $easing1 0s both);
        }
    }
}

/* phone*/
@media screen and (max-width: 35.5em) {
    #categories .cat_list {
        padding : 0 0 3em;
        .category {
            padding : 3em 0 0;

            text-align : center;
            .pic {
                display : inline-block;
                overflow : hidden;

                width : 11.25em;
                height : 11.25em;

                border-radius : 50%;
            }

            h2 {
                margin : .8em 0;
                a {
                    font-size : 1.2em;
                }
            }
            p {
                font-size : .85em;

                padding : 0 3em;
            }
        }
    }
}



@-webkit-keyframes fadein {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}
@keyframes fadein {
    0% {
        opacity : 0;
    }
    100% {
        opacity : 1;
    }
}