/* style*/
/* value settings*/
$dark1: rgba(0, 0, 0, .87);
$dark2: rgba(0, 0, 0, .54);
$light1: rgba(255, 255, 255, 1);
$primary1: #31b5bd;
$accent1: #df8a7f;
$accent2: #f5c5bf;
$accent3: #3c3d60;
$shadow1: 0 1px 4px rgba(0, 0, 0, .35);
$easing: cubic-bezier(.15, .95, .41, .95);
@mixin box-sizing($value) {
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value;
}

@mixin aColor($value) {
    color: $value;
    &:active {
        color: $value;
    }
    &:visited {
        color: $value;
    }
    &:hover {
        color: lighten($value, 15%);
    }
}

@mixin transform($value) {
    -webkit-transform: $value;
       -moz-transform: $value;
        -ms-transform: $value;
         -o-transform: $value;
            transform: $value;
}

@mixin transform-origin($value) {
    -webkit-transform-origin: $value;
       -moz-transform-origin: $value;
        -ms-transform-origin: $value;
         -o-transform-origin: $value;
            transform-origin: $value;
}

@mixin transition($value) {
    -webkit-transition: $value;
       -moz-transition: $value;
         -o-transition: $value;
            transition: $value;
}

@mixin transition-transform($value1, $value2) {
    -webkit-transition: -webkit-transform $value1 $value2;
       -moz-transition:         transform $value1 $value2, -moz-transform $value1 $value2;
         -o-transition:      -o-transform $value1 $value2;
            transition: -webkit-transform $value1 $value2;
            transition:         transform $value1 $value2;
            transition:         transform $value1 $value2, -webkit-transform $value1 $value2, -moz-transform $value1 $value2, -o-transform $value1 $value2;
            transition:         transform $value1 $value2, -webkit-transform $value1 $value2;
}


@mixin animation($value) {
    -webkit-animation: $value;
       -moz-animation: $value;
            animation: $value;
}



@mixin order($value) {
    -webkit-box-ordinal-group: NaN;
       -moz-box-ordinal-group: $value;
    -ms-flex-order: $value;
    -webkit-order: $value;
            order: $value;
}


@mixin aColor($value) {
    color: $value;
    &:active {
        color: $value;
    }
    &:visited {
        color: $value;
    }
    &:hover {
        color: lighten($value, 15%);
    }
}

* {
    @include box-sizing(content-box);
}

html ,
body {
    min-height: 100vh;
}

body {
    font-family: -apple-system, Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
    font-size: 14px;
    line-height: 1.6;

    color: rgba(0, 0, 0, .87);
    background: #f5f5f5;
}
ul {
    margin: 0;
    padding: 0;

    list-style: none;
}
a {
    @include aColor($primary1);
}

input ,
textarea ,
button {
    font-family: -apple-system, Helvetica, Arial, "PingFang SC", "Source Han Sans SC", "Microsoft YaHei", "WenQuanYi MicroHei", sans-serif;
}

::-moz-selection {
    color: $light1;
    background: $primary1;
}

::selection {
    color: $light1;
    background: $primary1;
}

::-moz-selection {
    color: $light1;
    background: $primary1;
}
/*  头部*/
.header {
    position: relative;
    z-index: 9;

    display: block;

    height: 60px;

    border-bottom: 1px solid rgba(30,35,42,.06);
    background: #f1f1f1;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
       -moz-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
            box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    &:after {
        display: table;
        clear: both;

        content: "";
    }
    @at-root .header_nav {
        height: 100%;
    }

    @at-root .left_side {
        float: left;

        height: 100%;
    }
    @at-root .right_side {
        position: relative;

        float: right;

        height: 100%;

        @at-root .bitcron_nav_container {
            float: left;

            height: 100%;
            &:after {
                display: table;
                clear: both;

                content: "";
            }
        }
        .nav-trigger ,
        .nav-trigger-icon {
            line-height: 30px;

            position: absolute;
            top: 5px;
            right: 1.5em;

            display: none;

            width: 30px;
            height: 30px;
            margin: 0;
            padding: 0;

            cursor: pointer;
            text-align: center;

@include aColor($dark1);
        }
        .nav-trigger {
            z-index: 2;

            opacity: 0;
        }
        .nav-trigger-icon {
            z-index: 1;
        }
    }

    @at-root .site_title {
        line-height: 60px;

        height: 100%;

        a {
            font-size: 1.5em;

@include aColor($dark1);
        }
    }

    .clear_nav_end {
        display: none;
    }

    @at-root {
        .bitcron_nav {
            float: left;

            height: 100%;
        }
        .site_nav {
            height: 100%;
            li {
                line-height: 60px;

                display: inline-block;

                height: 100%;
                ul {
                    display: none;
                }
                a {
                    font-size: .875em;
                    line-height: 60px;

                    position: relative;
                    z-index: 5;

                    display: inline-block;

                    padding: 0 .75em;

                    color: $dark1;
                    &:after {
                        position: absolute;
                        z-index: -1;
                        top: 20%;
                        left: 0;

                        display: block;

                        width: 100%;
                        height: 60%;

                        content: "";

                        -webkit-border-radius: .2em;
                           -moz-border-radius: .2em;
                                border-radius: .2em;
                        background: $primary1;
                        -webkit-box-shadow: $shadow1;
                           -moz-box-shadow: $shadow1;
                                box-shadow: $shadow1;

@include transform(scale(0, 1));

@include transform-origin(50% 0%);

@include transition-transform(.3s, $easing);
                    }
                    &:hover {
                        color: #fff;
                    }
                    &:hover:after {
                        @include transform(scale(1, 1));
                    }
                }
            }
        }
    }

    @at-root .full-search {
        position: relative;

        float: left;

        height: 26px;
        margin: 17px 1em 0;

        -webkit-border-radius: 1.875em;
           -moz-border-radius: 1.875em;
                border-radius: 1.875em;
        background: #fff;

        .search-submit ,
        .icon-search {
            line-height: 1.875em;

            position: absolute;
            top: 0;
            right: 0;

            width: 1.6em;
            height: 1.875em;
            margin: 0;
            padding: 0;

            text-align: center;

            color: $dark1;
            border: none;
            &:before {
                font-size: 1em;
            }
        }
        .icon-search {
            z-index: 0;
        }
        .search-submit {
            z-index: 1;

            opacity: 0;
            background: transparent;
        }
        .search-input {
            display: block;
            float: left;

            width: 3.75em;
            height: 100%;
            margin: 0;
            padding: 0;

            text-indent: 1em;

            color: $dark2;
            border: none;
            background: transparent;

@include transition(width .3s $easing);

            &:focus {
                width: 12em;

                color: $dark1;
                outline: 0;
            }
        }
    }
}
@media screen and (max-width: 48em) {
    .header .full-search {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .header {
        height: 40px;
    }
    .site_title {
        line-height: 40px;

        padding-left: 10px;
    }
    .right_side {
        position: relative;

        .nav-trigger ,
        .nav-trigger-icon {
            display: block;
        }
    }
    .header_nav {
        margin: 0;
        padding: 0;
    }
    .bitcron_nav_container {
        position: absolute;
        top: 40px;
        right: 0;

        float: none;

        width: 50px;
        height: auto;
        padding: 0 10px;

        -webkit-transition: -webkit-transform .4s $easing;
           -moz-transition:         transform .4s $easing, -moz-transform .4s $easing;
             -o-transition:      -o-transform .4s $easing;
                transition: -webkit-transform .4s $easing;
                transition:         transform .4s $easing;
                transition:         transform .4s $easing, -webkit-transform .4s $easing, -moz-transform .4s $easing, -o-transform .4s $easing;
                transition:         transform .4s $easing, -webkit-transform .4s $easing;
        -webkit-transform: scaleY(0);
           -moz-transform: scaleY(0);
            -ms-transform: scaleY(0);
             -o-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: top center;
           -moz-transform-origin: top center;
            -ms-transform-origin: top center;
             -o-transform-origin: top center;
                transform-origin: top center;

        border: 1px solid rgba(30,35,42,.06);
        border-top: none;
        border-right: none;
        background: #f1f1f1;
        -webkit-box-shadow: -2px 2px 3px 0 rgba(0,34,77,.05);
           -moz-box-shadow: -2px 2px 3px 0 rgba(0,34,77,.05);
                box-shadow: -2px 2px 3px 0 rgba(0,34,77,.05);
    }
    .nav-trigger:checked + .bitcron_nav_container {
        -webkit-transform: scaleY(1);
           -moz-transform: scaleY(1);
            -ms-transform: scaleY(1);
             -o-transform: scaleY(1);
                transform: scaleY(1);
    }


    .bitcron_nav {
        height: auto;
    }
    .site_nav {
        height: auto;

        li {
            line-height: 26px;

            display: block;

            height: 26px;

            a {
                line-height: 26px;

                display: block;
            }
        }
    }
}

/* 首页时 头部变化*/
.header_for_index {
    border-color: transparent;
    background: none;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;

    .site_title {
        a {
            @include aColor($light1);
        }
    }

    .site_nav  li {
        a {
            color: $light1;
            &:after {
                background: $primary1;
                -webkit-box-shadow: $shadow1;
                   -moz-box-shadow: $shadow1;
                        box-shadow: $shadow1;

@include transform(scale(0, 1));

@include transform-origin(50% 0%);

@include transition-transform(.3s, $easing);
            }
            &:hover {
                color: #fff;
            }
            &:hover:after {
                @include transform(scale(1, 1));
            }
        }
    }
    .right_side .nav-trigger-icon {
        @include aColor($light1);
    }
    .bitcron_nav_container {
        border: none;
        background: transparent;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
}

/* 首页背景相关 */
.index_header {
    position: relative;

    height: 100vh;
    margin-top: -60px;

    background-image: url("/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;

    @at-root .index_header_container {
        position: absolute;
        z-index: 555;
        top: 35%;
        left: 0;

        clear: both;

        width: 100%;
        padding: 3em 0 0;

        text-align: center;

        color: #fff;
        -webkit-background-size: 405px 53px;
           -moz-background-size: 405px 53px;
                background-size: 405px 53px;

@include animation (fadein_up .5s $easing .3s both);

        .sub_title {
            font-size: 1.3em;
            line-height: 1.7;

            letter-spacing: 1px;
        }

        .socials {
            margin-top: 30px;

@include animation (fadein_up .5s $easing .8s both);

            a {
                margin: 0 5px;

                text-decoration: none;

                color: rgba(255, 255, 255, .54);
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}



/* 底部*/
.footer {
    /* padding : 2em 0;*/
    p {
        font-size: .75em;
        line-height: 2em;

        text-align: center;

        color: $dark2;
        a {
            color: $dark2;
            &:hover {
                color: $primary1;
            }
        }
        i {
            padding: 0 .3em;
        }
    }
}

@-webkit-keyframes fadein_up {
    0% {
        -webkit-transform: translate(0, 2em);

        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);

        opacity: 1;
    }
}
@-moz-keyframes fadein_up {
    0% {
        -webkit-transform: translate(0, 2em);
           -moz-transform: translate(0, 2em);
                transform: translate(0, 2em);

        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
}
@keyframes fadein_up {
    0% {
        -webkit-transform: translate(0, 2em);
           -moz-transform: translate(0, 2em);
             -o-transform: translate(0, 2em);
                transform: translate(0, 2em);

        opacity: 0;
    }
    100% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
}

@-webkit-keyframes zoomin {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes zoomin {
    0% {
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes zoomin {
    0% {
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}


/* post*/
.posts {
    padding: 1.875em;

    .post_container {
        padding: 2.5em;
    }

    .post_in_list {
        line-height: 2.5;

        .info {
            margin-top: 2em;
        }
    }

    @at-root {
        .post {
            margin: 0 0 1.875em;

            -webkit-border-radius: .2em;
               -moz-border-radius: .2em;
                    border-radius: .2em;
            background: #fff;
            -webkit-box-shadow: 0 .1em .35em rgba(0, 0, 0, .26);
               -moz-box-shadow: 0 .1em .35em rgba(0, 0, 0, .26);
                    box-shadow: 0 .1em .35em rgba(0, 0, 0, .26);

            .content {
                padding: 2.5em;
            }

            .title {
                font-size: 1.875em;

                margin: 0 0 1em;
            }

            .post-info {
                color: #666;
            }


            @at-root .post-info {
                font-size: .75em;

                cursor: default;

                color: #666;

                .icon {
                    /* display: inline;*/
                    line-height: 28px;

                    float: left;

                    margin: 0 .25em 0 0;
                }

                .date {
                    float: left;

                    margin: 0 1.5em 0 0;

                    span.time {
                        line-height: 28px;

                        float: left;
                    }
                }

                .visitors {
                    float: left;

                    margin: 0 1.5em 0 0;


                    span {
                        line-height: 28px;

                        float: left;
                    }
                }

                .post-tags {
                    line-height: 28px;

                    float: left;

                    a {
                        margin: 0 .5em 0 0;
                    }
                }
                .tags {
                    overflow: hidden;

                    white-space: normal;
                }
            }
        }
    }
}

@mixin colored_grid_css {
    #main {
        padding: 0;
    }
    .post_container ,
    .posts {
        padding: 0;
    }
    .post {
        margin: 0;

        -webkit-border-radius: 0;
           -moz-border-radius: 0;
                border-radius: 0;

        .title {
            font-weight: normal;
            line-height: 1.2;

            margin: 0;
            padding: 60px 12px 5px;

            a {
                font-size: 18px;

                color: #fff;
            }
        }

        .post_body {
            display: none;
        }

        .post-info {
            padding: 0 15px 20px;

            color: #f4f4f4;
        }
    }
    .detail_post .post-info {
        padding-left: 0;

        color: #666;
    }

    .grid_1 .post {
        background: rgba(mix($primary1,#000,.7),.85);
    }

    .grid_2 .post {
        background: rgba(mix($accent1,#000,.6),.85);
    }

    .grid_3 .post {
        background: rgba(mix($accent3,#000,.9),.85);
    }
}

.detail_post {
    .post {
        -webkit-border-radius: .2em;
           -moz-border-radius: .2em;
                border-radius: .2em;
        background: #fff;
        -webkit-box-shadow: 0 .1em .35em rgba(0,0,0,.26);
           -moz-box-shadow: 0 .1em .35em rgba(0,0,0,.26);
                box-shadow: 0 .1em .35em rgba(0,0,0,.26);

        .post_container {
            padding: 2.5em;
        }

        .title {
            font-size: 1.875em;

            margin: 0 0 1em;
            padding: 0 0 1em;

            border-bottom: 1px solid rgba(0,0,0,.12);
        }
    }

    .post_body {
        h1 ,
        h2 ,
        h3 ,
        h4 ,
        h5 ,
        h6 {
            font-weight: bold;
            line-height: 1.2;

            margin: 1.5em 0;
        }

        h2 {
            padding: 0 0 0 .5em;

            border-left: .2em solid #83cace;
        }

        iframe ,
        p ,
        pre {
            line-height: 1.6;

            margin: 0 0 1.5em;
        }

        h1 ,
        h2 ,
        h3 ,
        h4 ,
        h5 ,
        h6 {
            letter-spacing: -.02em;
        }

        h1 {
            font-size: 2.2em;
        }

        h2 {
            font-size: 1.8em;
        }

        h3 {
            font-size: 1.5em;
        }

        h4 {
            font-size: 1.2em;
        }

        h5 {
            font-size: 1em;
        }

        h6 {
            font-size: .8em;
        }
    }

    hr.post_body_end {
        margin: 3em 0 1em;

        border: none;
        border-bottom: 1px solid #efefef;
    }
}
@media screen and (max-width: 48em) {
    @include colored_grid_css;

    .footer {
        display: none;
    }

    .detail_post .post .post_container {
        padding: 1em 10px;
    }
    .detail_post .post .post_body {
        display: block;
    }
}
@media screen and (min-width: 48em) and (max-width: 64em) {
    @include colored_grid_css;

    .grid_2 ,
    .grid_3 {
        width: 100%;
    }
    .detail_post .post .post_body {
        display: block;
    }
}

.related_posts {
    width: 100%;

    .action {
        font-size: 1.2em;

        display: block;

        width: 50%;
        height: 2em;

        text-align: center;

        color: #333;

        &:hover {
            color: #31b5bd;
        }

        .arrow {
            line-height: 40px;

            width: 1.5em;
            height: 2em;
        }
    }

    .pre {
        float: left;

        .arrow {
            float: left;
        }

        span {
            font-size: 1.2em;
            line-height: 40px;

            float: left;
        }
    }

    .next {
        float: right;

        .arrow {
            float: right;
        }

        span {
            font-size: 1.2em;
            line-height: 40px;

            float: right;
        }
    }
}

/* 目录 */
.toc {
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 10px;
}
.toc:before {
    display: block;

    content: "目录";
}
.toc ul {
    counter-reset: toc;
}

.toc a:before {
    content: counters(toc, "-") ". ";
    counter-increment: toc;
}

.toc li > ul {
    padding-left: 1em;
}

.toc li > ul {
    padding-left: 14px;
}

/* 标签 */
.tags-list {
    margin: 20px 20px;
}
.tags-item {
    display: inline-block;

    padding: 10px 5px;
}
.tags-item .name {
    font-size: 14px;
}
.tags-item .count {
    font-size: 10px;

    vertical-align: top;
}
.tags-total ,
.tag-post-total {
    text-align: center;
}
.tag-title {
    text-align: center;
}
.tag-list {
    margin: 10px 20px 0;
}