@-webkit-keyframes scroll_page_jump {
    0% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 2px);
                transform: translate(0, 2px);
    }
    50% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -2px);
                transform: translate(0, -2px);
    }
    100% {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
@-moz-keyframes scroll_page_jump {
    0% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 2px);
           -moz-transform: translate(0, 2px);
                transform: translate(0, 2px);
    }
    50% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -2px);
           -moz-transform: translate(0, -2px);
                transform: translate(0, -2px);
    }
    100% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
@keyframes scroll_page_jump {
    0% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 2px);
           -moz-transform: translate(0, 2px);
             -o-transform: translate(0, 2px);
                transform: translate(0, 2px);
    }
    50% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -2px);
           -moz-transform: translate(0, -2px);
             -o-transform: translate(0, -2px);
                transform: translate(0, -2px);
    }
    100% {
        -webkit-transform: translate(0, 0);
           -moz-transform: translate(0, 0);
             -o-transform: translate(0, 0);
                transform: translate(0, 0);
    }
}
