//- 需要同时判断是否为根路径 且 非搜索 不知道逻辑与怎么表达 暂时两个if吧
if request.path == '/'
    isIndex = true if posts.keywords == '' else false

header_class = "header index" if isIndex else "header"
header(class=header_class, data-isindex=isIndex)
    .container
        .left_side
            +font(site.configs.cn_font1 or 'noto-3')
                .site_title: a(href="/")= site.title
        .right_side
            span.nav-trigger-icon.icon.icon-bars
            input.nav-trigger(type="checkbox")            
            +site.just_nav
            form.full-search(action="/")
                input.search-input(id="search-input", name="s", data-role="none", type="text")
                input.search-submit(id="search-icon",type="submit",value="")
                span.icon.icon-search
//- 若为首页 且非搜索页面时 新增滚动显示
if isIndex
    .scroll-page
        if site.configs.sub_title
            +font(site.configs.cn_font2 or 'noto-3')
                h2.sub_title= site.configs.sub_title
        //- 默认提供的社交展示
        //- .socials= site.socials
        .socials= site.just_socials
        .scroll-down
            span.scroler-down
